GITHUB_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxx
PUBLIC_MEASUREMENT_ID=G-xxxxxxxxxxxxx

DATABASE_HOST=xxxxxxxxxxxx
DATABASE_USERNAME=xxxxxxxxxxxx
DATABASE_PASSWORD=xxxxxxxxxxxx
DATABASE_URL=xxxxxxxxxxxx?ssl={"rejectUnauthorized":true}
