GITHUB_API_KEY="something goes here"
HOW_MANY_PROJECTS_TO_SHOW="9"
NODE_ENV="production"
PRIVATE_NOTION_API_KEY="something goes here"
PRIVATE_NOTION_DATABASE_ID="something goes here"
PRIVATE_NOTION_VERSION="something goes here"
