---
import Heading from "../components/Heading.astro";
import Socials from "../components/Socials.astro";
const permalink = Astro.site.href;
---

<!-- HTML -->
<div class="container">
  <form
    method="POST"
    action="https://formsubmit.co/lucasalvesrego.contato@gmail.com"
  >
    <Heading id="contact">Contato</Heading>

    <div>
      <label for="email">Seu e-mail</label>
      <input type="email" name="email" id="email" />
    </div>

    <div>
      <label for="name">Seu nome</label>
      <input type="text" name="name" id="name" />
    </div>

    <div>
      <label for="message">Mensagem</label>
      <textarea name="message" id="message" rows="10"></textarea>
    </div>

    <input type="hidden" name="_captcha" value="false" />

    <input type="hidden" name="_next" value={permalink} />

    <button>Enviar</button>

    <Socials />
  </form>
</div>

<!-- STYLES - SCSS -->
<style lang="scss">
  .container {
    overflow: hidden;
    height: calc(100vh - var(--header-height));

    background: linear-gradient(
        10deg,
        rgba(0, 230, 46, 1) 0%,
        rgba(0, 230, 134, 1) 2%,
        rgba(255, 255, 255, 0) 15%
      ),
      url(/capybara.png);

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 90rem) {
      display: flex;
      align-items: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    backdrop-filter: blur(1rem);
    padding: 2rem;
    justify-content: center;

    @media screen and (min-width: 90rem) {
      width: 50%;
      padding: 5rem;
    }
  }

  label {
    font-size: 1.6rem;
    font-weight: 600;
  }

  input,
  textarea {
    border: 0.1rem solid var(--surface);
    background: var(--surface);
    border-radius: 0.5rem;
    color: var(--on-surface);
    margin-top: 0.5rem;
    padding: 1rem;
    width: 100%;
    box-shadow: var(--shadow-elevation-high);
  }

  textarea {
    resize: none;
  }

  button {
    background: var(--surface);
    border-radius: 0.25rem;
    border: 0.1rem solid var(--surface);
    box-shadow: var(--shadow-elevation-high);
    color: var(--on-surface);
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    text-decoration: none;
    width: fit-content;
  }
</style>
