---
import FeaturedProject from "../components/FeaturedProject.astro";
import Heading from "../components/Heading.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import type { Project } from "../types/project";

interface Props {
  projects: Project[];
  featuredProjects: Project[];
}

const { projects, featuredProjects } = Astro.props;
---

<!-- HTML -->
<section>
  <div>
    <Heading id="projects">Projetos em destaque</Heading>

    <div class="projects">
      {
        featuredProjects.map((project, index) => (
          <FeaturedProject project={project} reverse={index % 2 !== 0} />
        ))
      }
    </div>

    <Heading id="other-projects">Outros projetos</Heading>

    <ul>
      {
        projects.map((project) => (
          <li>
            <ProjectPreview project={project} />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<!-- STYLES - SCSS -->
<style lang="scss">
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
  }

  ul {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }
</style>
