---
import HeroContent from "../components/HeroContent.astro";
import HeroImage from "../components/HeroImage.astro";
---

<!-- HTML -->
<main>
  <HeroContent />
  <HeroImage />
</main>

<!-- STYLES - SCSS -->
<style lang="scss">
  main {
    height: calc(100vh - var(--header-height));
    position: relative;
    overflow: hidden;
  }
</style>
