:root {
  /* * BACKGROUND COLORS */
  --background: #ffffff;
  --on-background: #000000;

  /* * SURFACE COLORS */
  --surface: #f6f6f6;
  --on-surface: #181920;

  /* * PRIMARY COLORS */
  --primary: #181920;
  --on-primary: #d4d5de;

  /* * SECONDARY COLORS */
  --secondary: hsl(155, 100%, 45%);
  --on-secondary: hsl(0, 0%, 100%);

  --secondary-light: hsl(132, 100%, 45%);
  --on-secondary-light: hsl(0, 0%, 10%);

  --secondary-dark: hsl(155, 100%, 25%);
  --on-secondary-dark: hsl(0, 0%, 100%);

  --light-shadow: 0.1rem 0.1rem 0.2rem 0.1rem hsla(0, 0%, 50%, 0.75);
}
