:root {
  /* * BACKGROUND COLORS */
  --background: #ffffff;
  --on-background: #000000;

  /* * SURFACE COLORS */
  --surface: #f6f6f6;
  --on-surface: #181920;

  /* * PRIMARY COLORS */
  --primary: #181920;
  --on-primary: #d4d5de;

  /* * SECONDARY COLORS */
  --secondary: hsl(155, 100%, 45%);
  --on-secondary: hsl(0, 0%, 100%);

  --secondary-light: hsl(132, 100%, 45%);
  --on-secondary-light: hsl(0, 0%, 10%);

  --secondary-dark: hsl(155, 100%, 25%);
  --on-secondary-dark: hsl(0, 0%, 100%);

  --light-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%),
    0 12px 24px rgb(0 0 0 / 5%);

  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
}
