---
import Layout from "../layouts/Layout.astro";

import Contact from "../modules/Contact.svelte";
import Posts from "../modules/Posts.svelte";
import Projects from "../modules/Projects.svelte";
import Skills from "../modules/Skills.svelte";
import Start from "../modules/Start.svelte";

const data = {};
---

<!-- HTML -->
<Layout title="Welcome to Astro.">
  <Start />
  <div>
    <Posts featured={data.featuredPost} recentPosts={data.posts} />
    <Projects
      projects={data.allProjects}
      featuredProjects={data.pinnedProjects}
    />
    <Skills />
  </div>
  <Contact />
</Layout>

<!-- STYLES - SCSS -->
<style lang="scss">
  div {
    width: 100%;
    padding: 1rem;

    @media screen and (min-width: 90rem) {
      padding: 1rem 25rem;
    }
  }
</style>
