---
import Layout from "../layouts/Layout.astro";

import Contact from "../modules/Contact.astro";
import Posts from "../modules/Posts.astro";
import Projects from "../modules/Projects.astro";
import Skills from "../modules/Skills.astro";
import Start from "../modules/Start.astro";

import {
  getAllProjects,
  getPinnedProjects,
} from "../data/projects/project-fetcher";

import type { PostFrontmatter } from "../types/markdown";

const posts = await Astro.glob("../../posts/**/*.md");

const postsMetadata = posts.map((post) => {
  return post.frontmatter as PostFrontmatter;
});

const allProjects = await getAllProjects();

const pinnedProjects = await getPinnedProjects();

const featuredPost = postsMetadata[0];

const data = {
  pinnedProjects,
  allProjects,
  featuredPost,
  postsMetadata,
};
---

<!-- HTML -->
<Layout
  seo={{
    title: "DevLulcas - Seja bem vindo :D ",
    description:
      "Me chamo Lucas Alves Rego, presente por aí como Devlulcas. Sou um desenvolvedor web, curioso e um tagarela profissional.",
    image:
      "https://raw.githubusercontent.com/devlulcas/devlulcas.github.io/main/.github/images/logo.png",
    url: "https://devlulcas-github-io.vercel.app/",
  }}
>
  <Start />

  <div>
    <Posts featured={data.featuredPost} recentPosts={data.postsMetadata} />
    <Projects
      projects={data.allProjects}
      featuredProjects={data.pinnedProjects}
    />
    <Skills />
  </div>
  <Contact />
</Layout>

<!-- STYLES - SCSS -->
<style lang="scss">
  div {
    width: 100%;
    padding: 1rem;

    @media screen and (min-width: 90rem) {
      padding: 1rem 25rem;
    }
  }
</style>
