---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<!-- HTML -->
<h2 id={id}><slot /></h2>

<!-- STYLES - SCSS -->
<style lang="scss">
  h2 {
    margin-top: 1rem;
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--background);
    font-weight: 600;
  }
</style>
