---
import CoffeeIcon from "./CoffeeIcon.astro";
---

<!-- HTML -->
<div class="container">
  <section>
    <h1>Olá! Lucas aqui :D</h1>

    <p>
      Oi! Sou um desenvolvedor web focado frontend, mas também faço um bocado de
      backend também. Falo muito sobre tecnológia e animais peculiares.
    </p>
  </section>

  <div class="cta">
    <a href="#contact"> Vamos conversar! <CoffeeIcon /></a>
  </div>
</div>

<!-- STYLES - SCSS -->
<style lang="scss">
  .container {
    height: 100%;
    width: 100%;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;

    @media screen and (min-width: 90rem) {
      padding: 0 5rem;
    }
  }

  h1 {
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: clamp(34px, 6vw, 64px);
    color: var(--on-background);

    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      mix-blend-mode: plus-lighter;
      background-image: radial-gradient(
        circle at 1243.3px 23.5934px,
        var(--secondary-light),
        var(--secondary-dark)
      );
    }
  }

  html.dark h1 {
    background-image: radial-gradient(
      circle at 1243.3px 23.5934px,
      var(--secondary-dark),
      var(--secondary-light)
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &::before {
      display: none;
    }
  }

  p {
    font-size: clamp(16px, 2vw, 24px);
    line-height: 1.5;
    color: var(--on-background);
    margin-bottom: 3rem;
    max-width: 36rem;
  }

  .cta {
    display: flex;
    flex-direction: column;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    border-radius: 0.25rem;
    padding: 1rem 3rem;
    color: var(--on-secondary);
    font-weight: 600;
    box-shadow: rgb(0 0 0 / 4%) 0px 0px 24px;
    font-size: 1.5rem;
    background: linear-gradient(
      76.35deg,
      var(--secondary-dark) 15.89%,
      var(--secondary-light) 89.75%
    );
    text-decoration: none;
  }
</style>
