<!-- HTML -->
<main class="content">
  <slot />
</main>

<!-- STYLES - SCSS -->
<style lang="scss">
  .content {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    word-wrap: break-word;
    font-size: 1.4rem;
    background: var(--primary);
    border: 0.2rem solid var(--secondary);
    border-top: none;
    border-bottom: none;
    padding: 0 5rem;
  }

  .content :global {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: hsl(155, 72%, 40%);
      font-weight: 600;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    p {
      text-indent: 2rem;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
    }

    del {
      text-decoration: line-through;
    }

    blockquote {
      font-style: italic;
      color: var(--blockquote);
      margin-left: 2rem;
      padding-left: 2rem;
      border-left: var(--secondary-dark) 0.5rem solid;
      quotes: none;

      & p {
        color: hsl(154, 72%, 31%);
      }
    }

    a {
      color: hsl(154, 72%, 31%);
      border-bottom: 0.1rem dotted hsl(154, 72%, 31%);
    }

    img {
      width: 100%;
    }

    table {
      color: hsl(154, 59%, 26%);
      background: hsl(0, 0%, 94%);
      border: 1rem solid hsl(0, 0%, 80%);
      border-radius: 0.5rem;
      overflow: hidden;
      & td,
      & th {
        border: 0.1rem solid hsl(0, 0%, 80%);
        padding: 0.5rem;
      }

      & th {
        font-weight: 800;
      }
    }

    li {
      font-weight: 600;
      color: hsl(154, 59%, 26%);
    }

    pre {
      border-radius: 0.25rem;
      overflow: hidden;

      &::before {
        content: "⬤ ⬤ ⬤";
        color: hsl(0, 0%, 60%);
        background: hsl(0, 0%, 80%);
        width: 100%;
        display: block;
        padding: 0.5rem;
      }

      & code {
        padding: 1rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-stretch: expanded;
        font-family: "Fira Code", monospace;
      }
    }
  }
</style>
