---
interface Props {
  time: string;
}

const { time } = Astro.props;
---

<!-- HTML -->
<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="/favicon.png" alt="logo" width="75" height="82" />
    </div>

    <div class="data">
      <p>
        <span class="about">Autor:</span>
        Lucas Alves Rego
      </p>

      <ul class="links">
        <li class="link">
          <a href="/">GitHub</a>
        </li>

        <li class="link">
          <a href="/">LinkedIn</a>
        </li>

        <li class="link">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>

  <p class="date">
    Publicado em <time datetime={time}>{time}</time>
  </p>
</footer>

<!-- STYLES - SCSS -->
<style lang="scss">
  .footer {
    --background: #0c0d12;
    --color: #fff;

    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem 2rem 2rem;
    background-color: var(--background);
    color: var(--color);
  }

  .container {
    display: flex;
    gap: 2rem;
  }

  .date {
    padding: 1.2rem;
    text-align: center;
    font-weight: 600;

    & time {
      color: var(--secondary);
      border: 0.1rem solid var(--secondary);
      padding: 0.5rem;
      border-radius: 0.25rem;
      margin-left: 0.5rem;
      animation: neon-flicker 1s infinite alternate;
    }
  }

  .about {
    color: var(--secondary);
    font-weight: 800;
  }

  @keyframes neon-flicker {
    0%,
    10%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: -0.02em -0.02em 1em var(--on-primary),
        -0.02em -0.05em 2em var(--on-primary), 0 0 0.1em var(--secondary),
        0 0 0.1em var(--secondary), 0 0 0.1em var(--secondary),
        0 0 0.1em var(--secondary), 0 0 0.2em var(--secondary);
    }

    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }

  .contact {
    display: flex;
    gap: 2rem;
  }

  .links {
    display: flex;
    gap: 1rem;
  }

  .link {
    cursor: pointer;
    border-bottom: 0.2rem dotted var(--secondary);
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    gap: 1rem;

    & a {
      text-decoration: none;
      color: var(--color);
      font-weight: 600;
    }
  }
</style>
