---
import type { Project } from "../types/project";

interface Props {
  project: Project;
}

const { project } = Astro.props;

const imageUrl = `https://raw.githubusercontent.com/devlulcas/${project.name}/main/.github/images/preview.png`;

const name = project.name.replaceAll("-", " ");
---

<!-- HTML -->
<div style={`background-image: url(${imageUrl})`} title={name}>
  <h4>{name}</h4>
</div>

<!-- STYLES - SCSS -->
<style lang="scss">
  div {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: var(--light-shadow);
    background-size: cover;
    background-position: top;
  }

  h4 {
    word-break: break-all;
    text-transform: uppercase;
    aspect-ratio: 1 / 1;
    width: 15rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    background: var(--primary);
    color: var(--on-primary);
    opacity: 0.75;
    transition: 200ms all ease;

    &:hover {
      opacity: 1;
    }
  }
</style>
