<!-- HTML -->
<ul>
  <li>
    <i class="uil uil-github"></i>
    <a
      href="https://github.com/devlulcas"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
  </li>

  <li>
    <i class="uil uil-linkedin"></i>
    <a
      href="https://www.linkedin.com/in/lucasalvesregodev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
  </li>

  <li>
    <i class="uil uil-document-layout-right"></i>
    <a href="/blog">Blog</a>
  </li>
</ul>

<!-- STYLES - SCSS -->
<style lang="scss">
  ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  li {
    font-size: 1.2rem;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1rem);
    border-radius: 0.25rem;
    padding: 0.5rem;
    box-shadow: var(--shadow-elevation-medium);
  }

  i {
    font-size: 18px;
  }

  a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--on-background);
    font-weight: 600;
  }
</style>
