---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<!-- HTML -->
<li>
  <a href={href}><slot /></a>
</li>

<!-- STYLES - SCSS -->
<style lang="scss">
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    padding: 0.3vw 0.5vw;
    background: var(--primary);
    color: var(--on-primary);
    border-radius: 0.25rem;
    font-weight: 500;
    text-decoration: none;
    border: 0.2rem solid var(--primary);

    &:hover {
      background: var(--on-primary);
      color: var(--primary);
    }
  }
</style>
