:root {
	/* * BACKGROUND COLORS */
	--background-light: hsl(0 0% 100);
	--background: hsl(0 0% 100);
	--background-dark: hsl(0 0% 100);

	/* * ON BACKGROUND COLORS */
	--on-background-light: hsl(0 0% 0);
	--on-background: hsl(0 0% 0);
	--on-background-dark: hsl(0 0% 80);

	/* * SURFACE COLORS */
	--surface: hsl(0, 0%, 90%);
	--on-surface: hsl(0 0% 0);

	/* * PRIMARY COLORS */
	--primary: hsl(0 0% 100%);
	--primary-dark: hsl(0 0% 5%);
	--primary-light: hsl(0 0% 31%);

	/* * ON PRIMARY COLORS */
	--on-primary: hsl(231 13% 11%);
	--on-primary-dark: hsl(231 13% 85%);

	/* * SECONDARY COLORS */
	--secondary-dark: hsl(155, 100%, 25%);
	--secondary: hsl(155, 100%, 45%);
	--secondary-light: hsl(132, 100%, 45%);

	/* * ON SECONDARY COLORS */
	--on-secondary-dark: hsl(0, 0%, 100%);
	--on-secondary: hsl(0, 0%, 100%);
	--on-secondary-light: hsl(0, 0%, 10%);
}
