:root {
	--background-light: hsl(0 0% 100);
	--background: hsl(0 0% 100);
	--background-dark: hsl(0 0% 100);

	--on-background-light: hsl(0 0% 0);
	--on-background: hsl(0 0% 0);
	--on-background-dark: hsl(0 0% 80);

	--surface: hsl(0, 0%, 90%);
	--on-surface: hsl(0 0% 0);

	--primary: hsl(0, 0%, 97%);
	--on-primary: hsl(0, 0%, 22%);

	--secondary-dark: hsl(155, 100%, 25%);
	--secondary: hsl(155, 100%, 45%);
	--secondary-light: hsl(155, 100%, 85%);

	--on-secondary-dark: hsl(0, 0%, 100%);
	--on-secondary: hsl(0, 0%, 100%);
	--on-secondary-light: hsl(0, 0%, 10%);
}
