:root {
	/* * SCROLL */
	scroll-behavior: smooth;
	scroll-padding: var(--header-height) 0 0 0;
}

* {
	font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--primary-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--on-primary);
}

.section {
	background: var(--primary);
	padding: 1rem;
	color: var(--on-primary);
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	overflow-x: hidden;
}

@media screen and (max-width: 70rem) {
	.section {
		gap: 1rem;
	}
}
