:root {
	--header-height: 3.5rem;

	/* * PRIMARY COLORS */
	--primary-h: 231;
	--primary-s: 13%;
	--primary-l: 11%;

	--primary: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
	--primary-dark: hsl(var(--primary-h) var(--primary-s) 5%);
	--primary-light: hsl(var(--primary-h) var(--primary-s) 31%);

	/* * ON PRIMARY COLORS */
	--on-primary-h: 0;
	--on-primary-s: 0%;
	--on-primary-l: 100%;

	--on-primary: hsl(var(--on-primary-h) var(--on-primary-s) var(--on-primary-l));

	/* * SECONDARY COLORS */
	--secondary-h: 43;
	--secondary-s: 100%;
	--secondary-l: 54%;

	--secondary: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l));
	--secondary-dark: hsl(var(--secondary-h) var(--secondary-s) 5%);
	--secondary-light: hsl(var(--secondary-h) var(--secondary-s) 31%);

	/* * ON SECONDARY COLORS */
	--on-secondary-h: var(--primary-h);
	--on-secondary-s: var(--primary-s);
	--on-secondary-l: var(--primary-l);

	--on-secondary: hsl(var(--on-secondary-h) var(--on-secondary-s) var(--on-secondary-l));

	/* * EXTRA COLORS */
	/* --special: #ff9692; */
	--special: var(--secondary);
	--brand: #1947e5;
	--switch-light: #1947e5;
	--switch-dark: var(--secondary);
}

html.light {
	/* * PRIMARY COLORS */
	--primary-h: 231;
	--primary-s: 13%;
	--primary-l: 97%;

	--primary: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
	--primary-dark: hsl(var(--primary-h) var(--primary-s) 60%);
	--primary-light: hsl(var(--primary-h) var(--primary-s) 99%);

	/* * ON PRIMARY COLORS */
	--on-primary-h: 0;
	--on-primary-s: 0%;
	--on-primary-l: 20%;

	/* * SECONDARY COLORS */
	--secondary-h: 43;
	--secondary-s: 100%;
	--secondary-l: 54%;

	--secondary: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l));
	--secondary-dark: hsl(var(--secondary-h) var(--secondary-s) 5%);
	--secondary-light: hsl(var(--secondary-h) var(--secondary-s) 31%);

	/* * ON SECONDARY COLORS */
	--on-secondary-h: var(--primary-h);
	--on-secondary-s: var(--primary-s);
	--on-secondary-l: var(--primary-l);
}
