@import 'tailwindcss';

@layer base {
	/* Theme independent variables */
	:root {
		/* Height variables */
		--footer-height: 12rem;
		--header-height: 3.25rem;
		--view-height: calc(100dvh - var(--header-height) - var(--footer-height));

		@media (min-width: 768px) {
			--footer-height: 4rem;
			--view-height: calc(100dvh - var(--header-height) - var(--footer-height));
		}

		/* Smooth stuff */
		scroll-padding-top: var(--header-height);
		scroll-behavior: smooth;

		/* I don't like horizontal scrolling */
		max-width: 100vw;
		overflow-x: hidden;

		/* Default theme colors */
		--background: oklch(100% 0 89.9);
		--foreground: oklch(14.05% 0.002 285.8);
		--card: oklch(100% 0 89.9);
		--card-foreground: oklch(14.05% 0.002 285.8);
		--popover: oklch(100% 0 89.9);
		--popover-foreground: oklch(14.05% 0.002 285.8);
		--primary: oklch(21.03% 0.002 285.9);
		--primary-foreground: oklch(98.48% 0 89.9);
		--secondary: oklch(96.76% 0.001 286.4);
		--secondary-foreground: oklch(21.03% 0.002 285.9);
		--muted: oklch(96.76% 0.001 286.4);
		--muted-foreground: oklch(55.19% 0.005 285.9);
		--accent: oklch(96.76% 0.001 286.4);
		--accent-foreground: oklch(21.03% 0.002 285.9);
		--destructive: oklch(63.68% 0.083 25.3);
		--destructive-foreground: oklch(98.48% 0 89.9);
		--border: oklch(91.97% 0.002 286.3);
		--input: oklch(91.97% 0.002 286.3);
		--ring: oklch(21.03% 0.002 285.9);
		--scrollbar: oklch(58.09% 0 89.9);	
	}

	/* Dark theme colors */
	[data-theme='dark'] {
		--background: oklch(14.05% 0.002 285.8);
		--foreground: oklch(98.48% 0 89.9);
		--card: oklch(14.05% 0.002 285.8);
		--card-foreground: oklch(98.48% 0 89.9);
		--popover: oklch(14.05% 0.002 285.8);
		--popover-foreground: oklch(98.48% 0 89.9);
		--primary: oklch(98.48% 0 89.9);
		--primary-foreground: oklch(21.03% 0.002 285.9);
		--secondary: oklch(27.41% 0.002 286);
		--secondary-foreground: oklch(98.48% 0 89.9);
		--muted: oklch(27.41% 0.002 286);
		--muted-foreground: oklch(71.19% 0.005 286.1);
		--accent: oklch(27.41% 0.002 286);
		--accent-foreground: oklch(98.48% 0 89.9);
		--destructive: oklch(39.59% 0.053 25.7);
		--destructive-foreground: oklch(98.48% 0 89.9);
		--border: oklch(27.41% 0.002 286);
		--input: oklch(27.41% 0.002 286);
		--ring: oklch(87.09% 0.002 286.3);
		--scrollbar: oklch(98.48% 0 89.9);
	}

	/* Default styling */
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	/* Custom Scrollbar */
	::-webkit-scrollbar {
		width: 0.8rem;
	}

	::-webkit-scrollbar-track {
		background: hsl(var(--scrollbar) / 25%);
	}

	::-webkit-scrollbar-thumb {
		background: hsl(var(--scrollbar) / 45%);

		&:hover {
			background: hsl(var(--scrollbar) / 85%);
		}
	}
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-scrollbar: var(--scrollbar);

	/* Brand colors - I like green */
	--color-brand: oklch(0.8122 0.2088 155.57);
	--color-brand-light: oklch(80% 0.7 138);
	--color-brand-dark: oklch(47% 0.32 154);
	--color-brand-50: oklch(98% 0.09 151);
	--color-brand-100: oklch(95% 0.2 149);
	--color-brand-200: oklch(92% 0.4 147);
	--color-brand-300: oklch(89% 0.58 144);
	--color-brand-400: oklch(88% 0.71 140);
	--color-brand-500: oklch(80% 0.7 138);
	--color-brand-600: oklch(65% 0.59 139);
	--color-brand-700: oklch(50% 0.47 139);
	--color-brand-800: oklch(33% 0.35 140);
	--color-brand-900: oklch(15% 0.2 144);
	--color-brand-950: oklch(7% 0.1 148);
}