---
import { SEO } from "astro-seo";
import Header from "../lib/Header.svelte";
import "../styles/reset.scss";
import "../styles/variables.scss";
import "../styles/global.scss";
import MouseFly from "../lib/MouseFly.svelte";

interface Seo {
  title: string;
  description: string;
  image: string;
  url: string;
}

export interface Props {
  seo: Seo;
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla:ital,wght@1,300;1,400;1,500&family=Rubik:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <SEO
      openGraph={{
        basic: {
          title: seo.title,
          type: "",
          image: seo.image,
          url: seo.url,
        },
        optional: {
          description: seo.description,
          locale: "pt_BR",
        },
      }}
      title={seo.title}
      description={seo.description}
      extend={{
        link: [{ rel: "icon", href: "/favicon.png" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://avatars.githubusercontent.com/u/70298390?v=4",
          },
          { name: "twitter:title", content: seo.title },
          { name: "twitter:description", content: seo.description },
        ],
      }}
    />
  </head>

  <body>
    <MouseFly client:load />
    <Header client:load />
    <slot />
  </body>
</html>
