---
import PostFooter from "../components/PostFooter.astro";
import "../styles/post.scss";

interface Props {
  time: string;
}

const { time } = Astro.props;
---

<!-- HTML -->
<main class="content">
  <slot />
</main>

<PostFooter time={time} />

<style lang="scss">
  main {
    padding: 1rem;
    background: var(--background);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 1rem;
    word-wrap: break-word;

    @media screen and (min-width: 900px) {
      padding: 3rem 30rem;
    }
  }
</style>
